[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=aeskeyfind
Comment=find aes keys from memory dump
Categories=Application;Crypto-Chaox;
Exec=Terminal -x bash -c "aeskeyfind;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
