[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Aircrack-NG
Comment=Wireless Network Testing
Categories=Application;Wireless-Chaox;
Exec=bash -c "aircrack-ng --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
