[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Airgraph-NG
Comment=Create a graph from aircrack files
Categories=Application;Wireless-Chaox;
Exec=Terminal -x bash -c "airgraph-ng.py --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
