[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=airoscript
Comment=script to simplify aircrack-ng
Categories=Application;Wireless-Chaox;
Exec=bash -c "sudo airoscript;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
