[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=airpwn
Comment=generic packet injection on a wifi network
Categories=Application;Wireless-Chaox;
Exec=Terminal -x bash -c "airpwn;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
