[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=archlinux installer
Comment=install archlinux
Categories=Application;System;
Exec=bash -c "sudo /arch/setup;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
