[Desktop Entry]
Version=1.0
Type=Application
Name=bluebugger
Comment=implementation of bluebug technique
Categories=Application;Bluetooth-Chaox;
Exec=Terminal -x bash -c "/usr/bin/bluebugger;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
