[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=brutessh
Comment=bruteforce sshd
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "sudo brutessh;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
