[Desktop Entry]
Version=1.0
Type=Application
Name=btscanner
Comment=bluetooth scanner
Categories=Application;Bluetooth-Chaox;
Exec=Terminal -x bash -c "/usr/bin/btscanner --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
