[Desktop Entry]
Version=1.0
Type=Application
Name=carwhisperer
Comment=audit car bluetooth kits
Categories=Application;Bluetooth-Chaox;
Exec=Terminal -x bash -c "/usr/bin/carwhisperer;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
