[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=change-drivers
Comment=script for changing wifi drivers
Categories=Application;Wireless-Chaox;
Exec=Terminal -x bash -c "change-drivers;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
