[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=clamscan
Comment=Malware scanner
Categories=Application;Defense-Chaox;
Exec=bash -c "clamscan --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
