[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=cowpatty
Comment=WPA-PSK dictionary attack
Categories=Application;Wireless-Chaox;
Exec=bash -c "cowpatty -h;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
