[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=cuda-multiforcer
Comment=cuda accelerated bruteforce
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "cuda-multiforcer --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
