[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ddrescue
Comment=Rescue data of block devices which give read errors
Categories=Application;Forensics-Chaox;
Exec=Terminal -x bash -c "ddrescue --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
