[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=depant
Comment=check for default passwords
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "depant -h;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
