[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=elettra
Comment=crypto with plausible deniability
Categories=Application;Crypto-Chaox;
Exec=Terminal -x bash -c "elettra --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
