[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=elettra-gui
Comment=wx gui crypto with plausible deniability
Categories=Application;Crypto-Chaox;
Exec=elettra_gui
Icon=Terminal
Terminal=false
StartupNotify=false
