[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ettercap
Comment=Man in the middle attack suite
Categories=Application;Sniffer-Chaox;
Exec=Terminal -x bash -c "sudo ettercap -C;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
