[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=fast-track
Comment=run fast-track gui
Categories=Application;Chaox;
Exec=sudo ftgui
Icon=Terminal
Terminal=false
StartupNotify=false
