[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=fping
Comment=a ping like application
Categories=Application;Scanning-Chaox;
Exec=Terminal -x bash -c "fping -h;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
