[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=geoip
Comment=check a hosts origin
Categories=Application;Scanning-Chaox;
Exec=bash -c "geoiplookup;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
