[Desktop Entry]
Version=1.0
Type=Application
Name=haraldscan
Comment=bluetooth discovery scanner
Categories=Application;Bluetooth-Chaox;
Exec=Terminal -x bash -c "/usr/bin/haraldscan --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
