[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=hydra
Comment=hydra brute forcer
Categories=Application;Bruteforce-Chaox;
Exec=xhydra
Icon=Terminal
Terminal=false
StartupNotify=false
