[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=iodine daemon
Comment=Tunnel IP over DNS
Categories=Application;Tunnel-Chaox;
Exec=bash -c "iodined -h;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
