[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=iodine client
Comment=Tunnel IP over DNS
Categories=Application;Tunnel-Chaox;
Exec=Terminal -x bash -c "iodine -h;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
