[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=john the ripper
Comment=password cracker
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "john;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
