[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=john the ripper
Comment=password cracker
Categories=Application;Passwords-Chaox;
Exec=bash -c "john;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
