[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=lewifi
Comment=Wifi mapping
Categories=Application;Wireless-Chaox;
Exec=Terminal -x bash -c "echo "lewifi -i [iface] -f [floorplan] -d [datafile]";bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
