[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=lftp
Comment=THE unix ftp client
Categories=Application;Network;
Exec=bash -c "lftp;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
