[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=lsof
Comment=list open files
Categories=Application;Chaox;
Exec=bash -c "lsof --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
