[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=lftp
Comment=THE unix ftp client
Categories=Application;Chaox;
Exec=bash -c "lftp"
Icon=Terminal
Terminal=true
StartupNotify=false
