[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=lynis
Comment=unix system auditing
Categories=Application;Defense-Chaox;
Exec=bash -c "sudo lynis;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
