[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=lynx
Comment=webbrowser
Categories=Application;Network;
Exec=bash -c "lynx"
Icon=Terminal
Terminal=true
StartupNotify=false
