[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=macchanger
Comment=change the mac address of a interface
Categories=Application;Chaox;
Exec=Terminal -x bash -c "macchanger --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
