[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=magicrescue
Comment=rescue data from broken filesystems
Categories=Application;Forensics-Chaox;
Exec=bash -c "magicrescue;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
