[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=matahari
Comment=reverese http shell
Categories=Application;Tunnel-Chaox;
Exec=Terminal -x bash -c "matahari --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
