[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=mc
Comment=file manager
Categories=Application;System;
Exec=Terminal -x bash -c "mc;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
