[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=medusa
Comment=login bruteforcer
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "medusa;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
