[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=memfetch
Comment=fetch a processes memory
Categories=Application;Chaox;
Exec=Terminal -x bash -c "memfetch;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
