[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=minicom
Comment=serial terminal
Categories=Application;Chaox;
Exec=Terminal -x bash -c "minicom;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
