[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=mtr
Comment=advanced traceroute
Categories=Application;Scanning-Chaox;
Exec=bash -c "mtr --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
