[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=netcat
Comment=network swiss army knife
Categories=Application;Chaox;
Exec=bash -c "nc --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
