[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=nikto
Comment=webserver scanner
Categories=Application;Scanning-Chaox;
Exec=Terminal -x bash -c "nikto -Help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
