[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=nmbscan
Comment=netbios scanner
Categories=Application;Scanning-Chaox;
Exec=bash -c "nmbscan --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
