[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=packet-o-matic
Comment=real time packet processor
Categories=Application;Scanning-Chaox;
Exec=Terminal -x bash -c "packet-o-matic --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
