[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=partimage
Comment=saves partitions to image file
Categories=Application;Forensics-Chaox;
Exec=Terminal -x bash -c "partimage --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
