[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=passcracking
Comment=let a hash be cracked
Categories=Application;Passwords-Chaox;
Exec=Terminal -x bash -c "passcracking;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
