[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=procinfo
Comment=gather information from /proc
Categories=Application;Chaox;
Exec=Terminal -x bash -c "procinfo;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
