[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=proxytunnel
Comment=tunnel applications other a proxy
Categories=Application;Chaox;
Exec=Terminal -x bash -c "proxytunnel --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
