[Desktop Entry]
Version=1.0
Type=Application
Name=psm scan
Comment=bluetooth psm scanner
Categories=Application;Bluetooth-Chaox;
Exec=Terminal -x bash -c "/usr/bin/psm_scan;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
