[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=pyrit
Comment=wpa cracker
Categories=Application;Wireless-Chaox;
Exec=Terminal -x bash -c "pyrit;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
