[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=rainbowcrack
Comment=rainbowtables based cracking
Categories=Application;Passwords-Chaox;
Exec=bash -c "rcrack;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
