[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=ratproxy
Comment=webapp pentesting proxy
Categories=Application;Scanning-Chaox;
Exec=Terminal -x bash -c "ratproxy -h;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
