[Desktop Entry]
Version=1.0
Type=Application
Name=rfcomm scan
Comment=bluetooth rfm scanner
Categories=Application;Bluetooth-Chaox;
Exec=Terminal -x bash -c "/usr/bin/rfcomm_scan;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
