[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=rsakeyfind
Comment=find rsa keys from memory dump
Categories=Application;Crypto-Chaox;
Exec=Terminal -x bash -c "rsakeyfind;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
