[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=samdump2
Comment=dump hashes from windows SAM
Categories=Application;Passwords-Chaox;
Exec=bash -c "samdump -h;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
