[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=samydeluxe
Comment=automagically dump hashes from windows partitions
Categories=Application;Passwords-Chaox;
Exec=Terminal -x bash -c "samydeluxe;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
