[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=scapy
Comment=packet generator
Categories=Application;Scanning-Chaox;
Exec=Terminal -x bash -c "scapy -h;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
