[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=seat
Comment=data mining
Categories=Application;Scanning-Chaox;
Exec=seat
Icon=Terminal
Terminal=false
StartupNotify=false
