[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=sipcrack
Comment=bruteforce sip logins
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "sipcrack;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
