[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=snort
Comment=advanced intrusion detection system
Categories=Application;Defense-Chaox;
Exec=bash -c "snort --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
