[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=sqlmap
Comment=sql fuzzer
Categories=Application;Scanning-Chaox;
Exec=bash -c "sqlmap --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
