[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=sqlmap
Comment=sql fuzzer
Categories=Application;Database-Chaox;
Exec=Terminal -x bash -c "sqlmap --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
