[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=sqlninja
Comment=tool for exploiting vulnerabilities in MSSQL servers
Categories=Application;Database-Chaox;
Exec=bash -c "sqlninja;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
