[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=sqlpat
Comment=bruteforce mssql hashes
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "sqlbf;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
