[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=sqlsus
Comment=sql injection and takeover tool
Categories=Application;Database-Chaox;
Exec=Terminal -x bash -c "sqlsus -h;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
