[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=sshatter
Comment=bruteforce ssh logins
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "sshatter;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
