[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=statifier
Comment=create static executables
Categories=Application;Chaox;
Exec=Terminal -x bash -c "statifier --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
