[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=steghide
Comment=hide data in files
Categories=Application;Chaox;
Exec=Terminal -x bash -c "steghide --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
