[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=stegdetect
Comment=detect steganography
Categories=Application;Chaox;
Exec=Terminal -x bash -c "stegdetect --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
