[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=strace
Comment=trace syscalls
Categories=Application;Chaox;
Exec=Terminal -x bash -c "strace;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
