[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=tcpdump
Comment=sniffer
Categories=Application;Sniffer-Chaox;
Exec=bash -c "tcpdump --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
