[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=testdisk
Comment=rescue data from broken filesystems
Categories=Application;Forensics-Chaox;
Exec=Terminal -x bash -c "testdisk --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
