[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=thc-pptp-bruter
Comment=bruteforce pptp logins
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "thc-pptp-bruter;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
