[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=tripwire
Comment=file integrity checker
Categories=Application;Defense-Chaox;
Exec=Terminal -x bash -c "tripwire --help;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
