[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=unicornscan
Comment=asynchronos network scanner
Categories=Application;Scanning-Chaox;
Exec=bash -c "unicornscan --help;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
