[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=vncrack
Comment=bruteforce vnc
Categories=Application;Bruteforce-Chaox;
Exec=Terminal -x bash -c "vncrack;bash -i"
Icon=Terminal
Terminal=false
StartupNotify=false
