[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=wyd
Comment=wordlist creator
Categories=Application;Passwords-Chaox;
Exec=bash -c "wyd;bash -i"
Icon=Terminal
Terminal=true
StartupNotify=false
